:root {
    --main-bg: #2F2F31;
    --main-text: #FFFFFF;
    --main-accent: #F1A47A;
    --alt-text: #D8E1FF;
    --alt-bg: #252636;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: var(--main-bg);
    color: var(--main-text);
}

.main {
    margin: auto;
    padding: 20px;
    width: 60%;
}

.label {
    display: inline-block;
    width: 70px;
}

.slider {
    display: inline-block;
    width: 150px;
    background: transparent;
    cursor: pointer;
    accent-color: var(--main-accent);
}

.sliderDisplay {
    display: inline-block;
    width: 30px;
}

#text-input {
    width: 100%;
    height: 30vh;
    box-sizing: border-box;
    background: var(--alt-bg);
    color: var(--alt-text);
}

@media (max-width: 768px) {
    .main {
        width: 90%;
    }
}